/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.topSpace{
    margin-top: 5%;
}

.btnCss{
    margin: 5px;
    border-radius: 6px;

}
.shiftRight{
    text-align: right;
}